<link href="{{ asset("assets/app/css/basic.css") }}" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <a href="{{ path("homepage") }}" class="navbar-brand">
            <img src="{{ asset("assets/app/images/logo.png") }}" alt="logo" class="logo-nav img-responsive hidden-xs"/> 
        </a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("homepage") }}">Accueil</a></li>
                <li><a href="{{ path('travel_list') }}">Liste des sorties</a></li>
                <li><a href="{{ path('concept')}}">Concept</a></li>
                <li><a href="{{ path('nousrejoindre')}}">Nous rejoindre</a></li>
                <li><a href="{{ path('contact')}}">Contact</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-brand-left">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path("sonata_admin_dashboard") }}">Admin Dashboard</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path("fos_user_profile_show") }}">Mon Profil</a>
                    </li>
                    <li>
                        <a href="{{ path("fos_user_security_logout") }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path("fos_user_registration_register") }}">Inscription</a>
                    </li>
                    <li>
                        <a href="{{ path("fos_user_security_login") }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>