<link href="{{ asset("assets/app/css/basic.css") }}" rel="stylesheet">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="navbar-brand">
            <li>
                <a href="{{ path("homepage") }}">
                    <img src="{{ asset("assets/app/images/logo.png") }}" alt="logo" class="logo-nav img-responsive hidden-xs"/> 
                </a>
            </li>
        </ul>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav">
                <li><a href="{{ path("homepage") }}">Accueil</a></li>
                <li><a href="{{ path('travel_list') }}">Liste des sorties</a></li>
                <li><a href="#">Concept</a></li>
                <li><a href="#">Nous rejoindre</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-brand-left">
            <ul class="list-item">
                {% if app.user %}
                    <li class="li-item">
                        <a class="a-item" href="{{ path("fos_user_security_logout") }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="li-item">
                        <a class="a-item" href="{{ path("fos_user_registration_register") }}">Inscription</a>
                    </li>
                    <li class="li-item">
                        <a class="a-item" href="{{ path("fos_user_security_login") }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>