{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset("assets/user/css/register.css") }}" rel="stylesheet">

{% block body %}
    <div class="container">
        <div class="center">
            <h1 class="text-uppercase text-center">découvre nos équipes de folies</h1>


            <div class="form">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" value="S'inscrire chez nous !"
                           class="form-control login_form_control connect" />
                </div>
                {{ form_end(form) }}
                <a href="{{ path("fos_user_security_login") }}" class="pull-left">J'ai déja un compte !</a>
            </div>
        </div>

    </div>

{% endblock %}

