{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset("assets/user/css/register.css") }}" rel="stylesheet">

{% block body %}
<div class="container">
        <div class="center">
            <h1 class="text-uppercase text-center" >découvre nos équipes de folies</h1>
            <h3 class="text-uppercase text-center tinder">*le tinder de la sortie culturelle*</h3>

    <div class="form">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="color-button btn btn-default button " />
    </div>
    {{ form_end(form) }}
            <a href="" class="compte">J'ai déja un compte !</a>
</div>
    </div>

</div>

{% endblock %}

