
{% trans_default_domain 'FOSUserBundle' %}
    {% stylesheets 'bundles/user/css/connexion.css' output='compiled/css/connexion.css' filter='cssrewrite' %}
<link href="{{ asset_url }}" rel="stylesheet">

{% endstylesheets %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% block body %}
<h1 class="text-uppercase text-center">rejoins nos équipes de folies</h1>

<form action="{{ path("fos_user_security_check") }}" method="post" class="form">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="pseudo" class="pseudo" />
    <br>

    <input type="password" id="password" name="_password" required="required" placeholder="mot de passe" class="mdp" />
    <br>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="connect" />
    <br>
</form>
    <a href="" class="compte">Mot de passe oublié ?</a>
    <a href="" class="inscri">S'inscrire ici</a>
{% endblock %}

{% block footer %}
{% endblock %}