{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset("assets/user/css/profile.css") }}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="container-header">
            <p class="text-uppercase">{{ user.username }}</p>
            {% if user.birthday is defined %}
                <span>{{ user.birthday|date("d/m/Y") }}</span>
            {% endif %}
        </div>
        <div class="col-md-12">
            <h2 class="h2-title">Niveau d'études</h2>
            <h2 class="h2-title">Centres d'intérets</h2>
            <div class="interests">
                {% for interest in user.interests if not user.interests.empty %}
                    <p class="interest">{{ interest.name }}</p>
                {% else %}
                    <p>
                        Vous n'avez ajouté aucun centre d'intérêts, vous pouvez modifier votre profil pour en ajouter.
                        Cela nous permettra de vous conseiller des sorties correspondantes à vos intérêts.
                    </p>
                {% endfor %}
            </div>
            <h2 class="h2-title">Coordonnées</h2>
            {% if user.address is not null %}
                <p>Votre adresse est : {{ user.address.__toString }}</p>
            {% endif %}
            <div class="text-center">
                <p>Votre email est : {{ user.email }}</p>
                <p>Votre pseudo est : {{ user.username }}</p>

            </div>

            <a href="{{ path("fos_user_profile_edit") }}">Modifier votre profil</a>
        </div>
    </div>
</div>
