{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Réservation {{ travel.title }}{% endblock %}
{% block head %}
    <link href="{{ asset("assets/app/css/checkout.css") }}" rel="stylesheet">
    <script src="{{ asset("assets/app/js/payement.js") }}"></script>
{% endblock %}
{% block body %}
    <div class="container add-margin">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-default btn-recap">Récapitulatif de la sortie</button><br><br>
                <button type="button" class="btn-payement">Payement</button><br><br>
            </div>  
            <div class="col-md-8 remove-margin recap">  
                <h2>{{ travel.title }} :</h2><br>
                         <div class="col-md-3 col-xs-6 block-description">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            {{ travel.price }} €
                        </div>
                        <div class="col-md-3 col-xs-6 block-description">
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                            {{ travel.updatedAt | date("d/m/Y") }}
                        </div>
                        <div class="col-md-3 col-xs-6 block-description">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {{ travel.createdAt | date("d/m/Y") }}
                        </div>
                        <div class="col-md-3 col-xs-6 block-description">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            Destination {# TODO AJOUTER LES DESTINATIONS #}
                        </div>
                     <div class="text-description">{{ travel.description|nl2br }}</div>
                   <button type="button" class="btn-continue">Continuer</button><br><br>   
            </div>
            <div class="col-md-8 remove-margin payement">
                  <h2>{{ travel.title }} :</h2><br>
                {% if result is defined %}
                    {% if result.0 == "success" %}
                        <h1>Paiement Réussi</h1>
                        <div class="description">
                            Votre paiement a bien été reçu, vous êtes maintenant inscrit à la sortie et receverez un
                            email vous confirmant le paiement et les informations relatives à la sortie sous peu.
                        </div>
                    {% elseif result.0 == "danger" %}
                        <h1>Paiement déjà effectué</h1>
                        <div class="description">
                            Votre paiement a déjà été effectué.
                        </div>
                    {% else %}
                        <h1>Paiement Échoué</h1>
                        <div class="description">
                            Votre paiement a échoué, nous vous conseillons de vérifier votre compte paypal et de
                            <a href="{{ path("checkout", {'slug' : app.request.attributes.get("slug")}) }}">rééssayer</a>
                            plus tard.
                        </div>
                    {% endif %}
                {% else %}
                    <div class="description">
                         <h4>Vous pouvez désormais payer via Paypal : </h4><br>
                        <a href="{{ paypalLink }}">
                            <img src="{{ asset("assets/app/images/paypal.png") }}" alt="paypal" class="img-responsive img-paypal">
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}