{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Contact{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/app/css/construction.css') }}">
{% endblock %}

{% block body %}
    <h1 class="text-center text-contact">Nous contacter</h1>
    <div class="container-fluid">
        <div class="col-md-12">
        <div class="col-md-6 col-md-offset-1 mgtop">
            {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form_widget(form.firstname, {'attr': {'class': "input-contact"}}) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_widget(form.lastname, {'attr': {'class': "input-contact"}}) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_widget(form.phone, {'attr': {'class': "input-contact"}}) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_widget(form.email, {'attr': {'class': "input-contact"}}) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    {{ form_widget(form.reason, {'attr': {'class': "input-contact"}}) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_widget(form.message, {'attr': {'class': "input-contact input-textarea"}}) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <input type="submit"  value="Envoyer" class="form-control send" />
                </div>
            </div>
        </div>
            {{ form_end(form) }}
            <div class="col-md-4  col-md-offset-1 mgtop">
                <img src="{{ asset("assets/app/images/plane.png") }}" alt="plane" class=" img-responsive plane"/> 
            </div>
        </div>
    </div>
{% endblock %}
