{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Page d'accueil{% endblock %}
{% block head %}
    {% stylesheets 'bundles/app/css/index.css' output='compiled/css/index.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12">

        <div class="first col-sm-12">
            <p>
                 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.<br>
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>

            <a href="http://www.google.com/">
                <button type="submit">S'INSCRIRE</button>
            </a>
        </div>

        <div class="col-sm-12 icone1">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <h2>CONCEPT</h2>
        </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            {% image '@AppBundle/Resources/public/images/avion.png' output='compiled/images/avion.png' %} 
            <img src="{{ asset_url }}" alt="logo" class=" img-responsive"/> 
            {% endimage %}

        </div>
        <div class="col-sm-4">
            {% image '@AppBundle/Resources/public/images/avion.png' output='compiled/images/avion.png' %} 
            <img src="{{ asset_url }}" alt="logo" class=" img-responsive"/> 
            {% endimage %}

        </div>
        <div class="col-sm-4">
            {% image '@AppBundle/Resources/public/images/avion.png' output='compiled/images/avion.png' %} 
            <img src="{{ asset_url }}" alt="logo" class=" img-responsive"/> 
            {% endimage %}
        <div class="col-sm-12 second">
            <div class="col-sm-4">
                {% image '@AppBundle/Resources/public/images/Avion.png' output='compiled/images/Avion.png' %} 
                <img src="{{ asset_url }}" alt="avion" class=" avion img-responsive"/> 
                {% endimage %}
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.

                </p>
            </div>
                <div class="col-sm-4">
                    {% image '@AppBundle/Resources/public/images/Ami.png' output='compiled/images/Ami.png' %} 
                    <img src="{{ asset_url }}" alt="ami" class=" Ami img-responsive"/> 
                    {% endimage %}
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.

                    </p>
                </div>
                    <div class="col-sm-4">
                        {% image '@AppBundle/Resources/public/images/Pantheon.png' output='compiled/images/Pantheon.png' %} 
                        <img src="{{ asset_url }}" alt="Pantheon" class="pantheon img-responsive"/> 
                        {% endimage %}
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus.

                        </p>
                    </div>
        </div>




                    <div class="col-sm-12">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <h2>AVIS UTILISATEURS</h2>
                    </div>

                    <div class="col-sm-12 quatrieme">
                        {% image '@AppBundle/Resources/public/images/oeil.png' output='compiled/images/oeil.png' %} 
                        <img src="{{ asset_url }}" alt="oeil" class=" img-responsive oeil"/> 
                        {% endimage %}
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus.

                        </p>
                    </div>

        </div>
    </div>









{% endblock %}