{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Page d'accueil{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/custom/jquery.bxslider.css') }}">
    <link href="{{ asset("assets/app/css/index.css") }}" rel="stylesheet">
    <script src="{{ asset('assets/bower/bxslider-4/src/js/jquery.bxslider.js') }}"></script>
    <script src="{{ asset("assets/app/js/main.js") }}"></script>
    <script src="{{ asset('assets/bower/fullpage.js/dist/jquery.fullpage.min.js') }}"></script>
{% endblock %}
{% block body %}

    <div class="container-fluid" id="fullpage">
        <div class="row">
            <div class="first col-sm-12 ">
                <h1 class="text-uppercase firsth1 ">Rejoinds une expérience <br>unique</h1>
            </div>

            <div class="second col-sm-12" id="section0">
                <i class="fa fa-globe fa-3x symbole" aria-hidden="true"></i>
                <h1 class="text-uppercase h1">Concept</h1><br><br>




                <div class="col-sm-4 picto">
                    <p class="p-concept">
                        <img src="{{ asset("assets/app/images/sage.png") }}" alt="avion" class=" avion img-responsive center-block"/> 
                        Transmettez votre savoir ou faites vous accompagner tout au long de la visite à laquelle vous participerez grâce à notre plateforme 
                    </p>
                </div>
                <div class="col-sm-4 picto">
                    <p class="p-concept">
                        <img src="{{ asset("assets/app/images/rencontre.png") }}" alt="ami" class=" Ami img-responsive center-block"/> 
                        Un moyen simple de rencontrer des acteurs du milieu artistique, tout en partageant votre passion en groupe 
                    </p>
                </div>
                <div class="col-sm-4 picto">
                    <p class="p-concept">
                        <img src="{{ asset("assets/app/images/monument.png") }}" alt="Pantheon" class="pantheon img-responsive center-block"/> 
                        Grâce à nous, visiter une expo ou sortir dans Paris ne vous aura jamais semblé aussi ludique et interactif ! 

                    </p>
                </div>
                <div class="text-center">
                    {% if not is_granted("ROLE_USER") %}
                        <a href="{{ path("fos_user_registration_register") }}"
                           class="btn btn-warning text-uppercase button">S'incrire</a>
                    {% else  %}
                        <a href="{{ path("fos_user_profile_edit") }}"
                           class="btn btn-warning btn-completer-profil text-uppercase button">Compléter mon profil</a>
                    {% endif %}
                </div>
            </div>

            <div class="video col-sm-12" id="section1">
                <i class="fa fa-ticket fa-4x ticket" aria-hidden="true"></i>
                <h1 class="h1-video">Quelques sorties</h1><br><br>
                 <div class="videoWrapper">
                    <iframe width="860" height="400" src="https://www.youtube.com/embed/K6KniRMNS_A" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="quatrieme col-sm-12">
                <i class="fa fa-thumbs-o-up fa-4x symbole"></i>
                <h1 class="h1">Avis utilisateurs</h1><br><br>



                <div class="slider2">
                    <div class="col-sm-12 col-md-4 slide">
                        <img src="{{ asset("assets/app/images/oeil.png") }}" alt="oeil" class=" img-responsive oeil"/> 
                        <p>
                            “J’ai beaucoup appris grâce à Luryo. J’ai d’ailleurs eu une idée de projet dans un de leurs ateliers, <br>
                            des petites animations pour le cinéma ! Il faut encore que je vois pour les personnages, peut être une souris… On verra” - Walt Disney
                        </p>
                    </div>

                    <div class="col-sm-12 col-md-4 slide">
                        <img src="{{ asset("assets/app/images/oeil.png") }}" alt="oeil" class=" img-responsive oeil"/> 
                        <p>
                            “On était un peu à sec avec mon prof de peinture, Henri. Du coup on est passé par Luryo pour essayer de voir si il y avait des bon plans.<br>
                            On a pu aller à la nouvelle expo “Cubisme” pour trois fois rien, on avait même un guide !” - Pablo Picasso
                        </p>
                    </div>

                    <div class="col-sm-12 col-md-4 slide">
                        <img src="{{ asset("assets/app/images/oeil.png") }}" alt="oeil" class=" img-responsive oeil"/> 
                        <p>
                            “Etre artiste c’est pas tous les jours facile. Il y avait des mois où j’avais un peu de mal à joindre les deux bouts. Du coup j’ai organisé des petits cours dans mon atelier.
                            Je touche un peu à tout donc il y avait de quoi faire. Et ça m’a permis de faire des rencontres inoubliables !
                            D’ailleurs Mona si tu lis ça, je suis toujours chaud pour te faire un petit portrait ;)” - Léonard de Vinci
                        </p>
                    </div>
               </div>

                    {% for i in 3..6 %}
                        <div class="col-sm-12 col-md-4 slide">
                            <img src="{{ asset("assets/app/images/oeil.png") }}" alt="oeil" class=" img-responsive oeil"/> 
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.<br>
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus
                                mus.
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}