{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Page d'accueil{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/custom/jquery.bxslider.css') }}">
    <link rel="stylesheet" href="{{ asset("assets/app/css/index.css") }}">
    <script src="{{ asset('assets/bower/bxslider-4/src/js/jquery.bxslider.js') }}"></script>
    <script src="{{ asset("assets/app/js/main.js") }}"></script>
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="first col-sm-12">
                <div class="container">
         {{ form_start(form) }}
                <div class="input-group">
                    <div class="form-group  has-feedback">
                    <div class="col-md-3 remove-padding">
                         {{ form_widget(form.location, {'attr': {'class': "input-home", 'placeholder ': 'Ou?'}}) }}
                    </div>
                     <div class="col-md-3 remove-padding">
                        {{ form_widget(form.date, {'attr': {'class': "input-home date-picker", 'placeholder ': 'Quand ?'}}) }}
                    </div>
                     <div class="col-md-3 remove-padding">
                        {{ form_widget(form.price, {'attr': {'class': "input-home",'placeholder ': 'Prix ?'}}) }}
                    </div>
                     <div class="col-md-3 remove-padding">
                        {{ form_widget(form.choice, {'attr': {'class': "input-home", 'placeholder ': 'Ajouter un mot clé'}}) }}
                    </div>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">C'est parti!</button>
                    </span>
             </div>
            </div>
        {{ form_end(form) }}      
        </div>
        <div class="col-md-12 items-home remove-pdg">
            <div class="col-md-6 remove-pdg">
                    {% for travel in travels %}
                                {% set link = path("detail_page", {'slug': travel.slug}) %}
                                <div class="col-md-6 test">
                                    <a href="{{ link }}" class="image-container">
                                        <img src="{{ travel.images.0|image }}" alt="{{ travel.title }}" class="img-responsive add-border">
                                     <div class="after"><span class="test-span">{{ travel.title }}</span></div>
                        </a>
                                </div>
                    {% endfor %}
            </div>

            <div class="col-md-6 remove-pdg">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.75769496214!2d2.2775173799821795!3d48.85895068076406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sfr!2sca!4v1498157190173" class="iframe-home" width="940" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div> 
            <div class="second col-sm-12">
                <div class="row-title">
                     <img class="img-responsive avis-img concept-img" src="{{ asset("assets/app/images/picto.png") }}" alt="concept">
                    <h1>Concept</h1>
                </div>   
                <div class="container-fluid">
                <div class="row concept concept-picto">
                    <div class="col-sm-4">
                        <img src="{{ asset("assets/app/images/livre.png") }}" alt="picto" class="picto img-responsive center-block"/> 
                        <h4 class="text-picto">Des connaissances transmises</h4>
                        <span class="text">
                        Transmettez votre savoir ou faites vous accompagner tout au long de la visite à laquelle vous participerez grâce à notre plateforme 
                    </span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset("assets/app/images/people.png") }}" alt="picto" class="picto img-responsive center-block"/> 
                           <h4 class="text-picto">Des connaissances transmises</h4>
                        <span class="text">
                    Un moyen simple de rencontrer des acteurs du milieu artistique, tout en partageant votre passion en groupe 
                    </span>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset("assets/app/images/monument.png") }}" alt="picto" class="picto img-responsive center-block"/> 
                           <h4 class="text-picto">Des connaissances transmises</h4>
                        <span class="text">
                        Grâce à nous, visiter une expo ou sortir dans Paris ne vous aura jamais semblé aussi ludique et interactif !  
                    </span>
                    </div>
                    <div class="col-sm-12 text-center">
                        {% if not is_granted("ROLE_USER") %}
                            <a href="{{ path("fos_user_registration_register") }}"
                               class="btn btn-warning text-uppercase button btn-login">S'incrire</a>
                        {% else %}
                            <a href="{{ path("fos_user_profile_edit") }}"
                               class="btn btn-warning btn-completer-profil text-uppercase button">Compléter mon profil</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
            <div class="third col-sm-12">
                <div class="row-title white">
                    <i class="fa fa-ticket fa-4x "></i>
                    <h1 class="h1-sorties">Quelques sorties</h1>
                </div>

                <div class="container-fluid">
                    <div class="col-center-block">
                        <div class="row-eq-height">
                            {% for travel in travels %}
                                {% set link = path("detail_page", {'slug': travel.slug}) %}
                                <div class="col-md-4 col-flex thumbnail">
                                    <a href="{{ link }}">
                                        <img src="{{ travel.images.0|image }}" alt="{{ travel.title }}" class="img-responsive">
                                    </a>
                                    <h3 class="text-center"><a href="{{ link }}">{{ travel.title }}</a></h3>
                                    <div class="caption">{{ travel.description|nl2br }}</div>
                                    <div class="btn-center">
                                        <br><br><br><a href="{{ link }}" class="btn text-uppercase button">Voir la sortie</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="quatrieme col-sm-12">
                <div class="row-title white">
                    <img class="img-responsive avis-img" src="{{ asset("assets/app/images/avis.png") }}" alt="avis">
                    <h1 class="avis-title">Notre communauté</h1>
                    <section id="carousel">                 
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                  </ol>
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item elements-avis">
                        <div class="profile-circle"><img class="img-responsive img-avis" src="{{ asset("assets/app/images/john.png") }}" alt="john"></div>
                        <blockquote>
                            <h2 class="name">John doe</h2>
                            <p class="avis-p">Etudiant en Web Design, interessé par l’art et souhaitant rencontrer de nouvelles personne dans son domaine ou même des personnes différentes.<br>
                            Il n’a pas assez de temps et d’argent pour pouvoir sortir et se faire des sorties et souhaite trouvé une solution afin de sortir pour des prix réduit avec des produit intéressant.</p>
                        </blockquote>  
                    </div>
                    <div class="item elements-avis">
                         <div class="profile-circle"><img class="img-responsive img-avis" src="{{ asset("assets/app/images/minions.png") }}" alt="john"></div>
                        <blockquote>
                           <h2 class="name">Minions</h2>
                            <p class="avis-p">Une sortie Geniale avec d’autres personnes qui sont dans le même milieu que moi avec des centres d’interet commun aux miens ! <br><br>Une journée qui m’a appris énormement de choses et qui va me permettre de garder des souvenirs magnifiques.<br><br>Je recommande a 100% </p>
                        </blockquote> 
                    </div>
                      <div class="item elements-avis">
                        <div class="profile-circle"><img class="img-responsive img-avis" src="{{ asset("assets/app/images/etudiante.png") }}" alt="john"></div>
                        <blockquote>
                            <h2 class="name">Lara Jenson</h2>
                            <p class="avis-p">J'ai adoré cette sortie au Catacombes avec d’autres personnes partageant les memes centres d'intérêts que moi. <br><br>Une journée qui m’a appris énormement de choses et de faire de belles rencontres.<br><br>Merci Luryo !</p>
                        </blockquote>  
                    </div>
                    </div>
                  </div>
                </div>
            </div>                          
        </div>
    </div>
</section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}