{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Liste de voyages {% endblock %}
{% block head %}
    <link href="{{ asset("assets/app/css/liste.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <i class="fa fa-globe" aria-hidden="true"></i>
    <h2>Les offres voyages</h2>
    <div class="container-fluid">
        <div class="row">
            {% for travel in travels %}
                <div class="col-sm-6 col-md-4">
                    <div class="overlay">
                        {% set img = "uploads/images/"~ travel.images.get(0).file.filename %}
                        <img class="img-responsive center-block" src="{{ asset(img) }}" alt="{{ travel.title }}">
                        <div class="img_desc">
                            <a href="{{ path("detail_page", {'id': travel.id}) }}">{{ travel.title }}</a>
                            <hr>
                            <a href="{{ path("detail_page", {'id': travel.id}) }}">Voir plus</a>
                        </div>
                    </div>
                    <div class="caption">
                        <h3><a href="{{ path("detail_page", {'id': travel.id}) }}">{{ travel.title }}</a></h3>
                        <p class="text-center">{{ travel.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

