{% extends 'AppBundle:Default:index.html.twig' %}
{% block title %}Liste de voyages {% endblock %}
{% block head %}
    <link href="{{ asset("assets/app/css/liste.css") }}" rel="stylesheet">
    {% if app.request.attributes.get('_route') == "search" %}
        <script src="{{ asset("assets/app/js/search.js") }}"></script>
    {% else %}
        <script src="{{ asset("assets/app/js/list.js") }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="block-list">
    {% set is_search = app.request.attributes.get('_route') == "search" %}
    <i class="fa fa-globe" aria-hidden="true"></i>
    <h2>Les offres voyages</h2>
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline margin-bottom20 list-desc" id="orderForm">
                <div class="form-group">
                    <label for="sort">Trier par</label>
                    <select name="sort" id="sort" class="form-control option-border">
                        {% for critera, key in criteras %}
                            {% set selected = key == app.request.attributes.get('sort') ? "selected" : "" %}
                            <option value="{{ key }}" {{ selected }}>{{ critera }}</option>
                        {% endfor %}
                    </select>
                    <label for="order">&nbsp;&nbsp;&nbsp; Ordre</label>
                    <select name="order" id="order" class="form-control option-border">
                        <option  value="desc" {{ "desc" == app.request.attributes.get('order') ? "selected" : "" }}>
                            Desc
                        </option>
                        <option value="asc" {{ "asc" == app.request.attributes.get('order') ? "selected" : "" }}>Asc
                        </option>
                    </select>
                    <button type="submit" class="btn btn-default btn-valider">Valider</button>
                    {% if is_search %}
                        <a href="{{ path("search") }}">Retourner à la recherche</a>
                    {% endif %}
                </div>
            </form>
            {% for travel in travels %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ path("detail_page", {'slug': travel.slug}) }}" class="overlay">
                        <img class="img-responsive center-block" src="{{ asset(travel.images.get(0)|image) }}"
                             alt="{{ travel.title }}">
                        <span class="text-content center-block">
                            <span>{{ travel.title }}</span>
                            <hr>
                            <span>Voir plus</span>
                        </span>
                    </a>
                    <div class="caption">
                        <h3>
                            <a class="lien-sortie" href="{{ path("detail_page", {'slug': travel.slug}) }}">{{ travel.title }}</a>
                            <small class="nb-places">{{ travel.availablePlaces }}/{{ travel.places }} places</small>
                        </h3>
                        <p class="text-center text-description">{{ travel.description }}</p>
                    </div>
                </div>
            {% endfor %}

            {% if pager is defined and pager.haveToPaginate %}
                <div class="pagerfanta col-center-block col-md-12 text-center">
                    {% if is_search %}
                        {% set routeParams = app.request.query.all %}
                    {% else %}
                        {% set routeParams = {'sort': app.request.attributes.get('sort'), 'order':app.request.attributes.get('order')} %}
                    {% endif %}
                    {{ pagerfanta(pager , 'twitter_bootstrap3_translated',
                    {'routeName': app.request.attributes.get('_route'), 'routeParams': routeParams}) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

