{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block head %}
    {% javascripts 'assets/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
    'assets/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js'
    'assets/bower/select2/dist/js/select2.full.min.js'
    'assets/bower/select2/dist/js/i18n/fr.js'
    'assets/app/js/search.js' output='compiled/js/bootstrap-datepicker.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets 'assets/app/css/search.css'
    'assets/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css'
    'assets/bower/select2/dist/css/select2.min.css' output='compiled/css/bootstrap-datepicker3.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row search-bar">
            <form action="{{ path('search') }}" method="GET" id="search_form">
                <div class="col-md-offset-2">
                    <div class="col-md-3">
                        <select id="search_form_city" name="city" class="form-control">
                            <option value="">Ou ?</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <input type="text" id="search_form_date" name="date" placeholder="Quand ?" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <input type="text" id="search_form_price" name="price" placeholder="Prix ?"
                               class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="search_form_search" name="search" placeholder="Votre choix ?"
                               class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="C'est parti !" class="form-control">
                    </div>
                </div>
            </form>

        </div>
        <div class="row">
            <div class="col-md-4">
                {#TODO ADD MAP#}
            </div>
            <div class="col-md-4">
                {% for i in 0..3 %}
                    <div class="col-md-6 min-travel">
                        {% if travels[i] is defined %}
                            <a href="{{ path("detail_page", {"slug": travels[i].slug}) }}">
                                {% set pull_class= i % 2 == 0 ? "pull-right" : "pull-lefy" %}
                                <img src="{{ travels[i].images.get(0)|image }}" alt="voyage"
                                     class="img-responsive {{ pull_class }}"/>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
{% endblock %}

{% block footer %}{% endblock %}
