{% extends "AppBundle:Default:index.html.twig" %}

{% block title %}Voyage {% endblock %}
{% block head %}
    {% stylesheets 'bundles/app/css/voyage.css' output='compiled/css/voyage.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block body %}
        <div class="col-sm-12">
            <h3>
                <span class="text-uppercase titre">Visite des catacombes</span>
            </h3>
              <div class="bloc-left">
        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.2718789676023!2d2.3305988964536684!3d48.83395253659682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b9d2da3de9%3A0x3494d132bb3ba63c!2s1+Avenue+du+Colonel+Henri+Rol-Tanguy%2C+75014+Paris!5e0!3m2!1sfr!2sfr!4v1479997992629" width="600" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
           {% image '@AppBundle/Resources/public/images/crane.jpg' output='compiled/images/voyage.png' %} 
            <img src="{{ asset_url }}" alt="voyage" class=" img-responsive" id="img-second-tablet"/>
        {% endimage %}
           {% image '@AppBundle/Resources/public/images/croix.jpg' output='compiled/images/voyage.png' %} 
            <img src="{{ asset_url }}" alt="voyage" class=" img-responsive yop" id="lala"/>
        {% endimage %}
        {% image '@AppBundle/Resources/public/images/jeunes.jpg' output='compiled/images/voyage.png' %} 
            <img src="{{ asset_url }}" alt="voyage" class=" img-responsive" id="img-second-tablet"/>
        {% endimage %}
        </div> 
    </div>
        <div class="bloc-right">
            <div class="decalage">
                <div class="col-sm-2">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>  &nbsp; {{ travel.price}} €
                </div>
                <div class="col-sm-2">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>  &nbsp; {{ travel.updatedAt | date("d/m/Y") }}  
                   <!-- TO DO A ajouter le bon format de date ! -->
                </div>
                <div class="col-sm-2"><i class="fa fa-calendar" aria-hidden="true"></i>  &nbsp; {{ travel.createdAt | date("d/m/Y") }}
                </div>
                <div class="col-sm-2">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i> &nbsp;Destination <!-- TO DO AJOUTER LES DESTINATIONS ! -->
                </div>
                <div class="col-sm-2">
                    <div class="disponible-carre">
                         <i class="fa fa-square-o" aria-hidden="true"></i><span id="span-check">&nbsp;&nbsp;
                         {% if travel.places|length > travel.places  %}
                            <span>Dispo</span>
                        {% else %}
                             <span>pas dispo</span>
                         {% endif %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="margin-p col-sm-8 col-sm-offset-4">
                    <p>{{travel.description|nl2br }}</p>
                <input type="submit" name="submit" value="S'inscrire à la sortie"  class="submit" /><br>
                 <iframe class="google-map-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.2718789676023!2d2.3305988964536684!3d48.83395253659682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b9d2da3de9%3A0x3494d132bb3ba63c!2s1+Avenue+du+Colonel+Henri+Rol-Tanguy%2C+75014+Paris!5e0!3m2!1sfr!2sfr!4v1479997992629" width="450" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    {% image '@AppBundle/Resources/public/images/mapresponsive.jpg' output='compiled/images/voyage.png' %} 
                         <img src="{{ asset_url }}" alt="voyage" class=" img-bot" id="map-none"/>
                    {% endimage %}
                    {% image '@AppBundle/Resources/public/images/crane.jpg' output='compiled/images/voyage.png' %} 
                         <img src="{{ asset_url }}" alt="voyage" class=" img-bot"/>
                    {% endimage %}
                    {% image '@AppBundle/Resources/public/images/croix.jpg' output='compiled/images/voyage.png' %} 
                         <img src="{{ asset_url }}" alt="voyage" class=" img-bot"/>
                    {% endimage %}
                <div class="responsive-rs">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> &nbsp;  &nbsp;
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> &nbsp;  &nbsp;
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div><br>
                </div>
            </div>
        </div>
{% endblock %}
{% block footer %}{% endblock %}